#!/bin/bash

# secretsDb hash: {{ include .secretsdb | sha256sum }}

{{if .trust }}
{{ template "sshprivkey" (joinPath .chezmoi.homeDir ".ssh/ansible") }}
{{ template "sshprivkey" (joinPath .chezmoi.homeDir ".ssh/rockwell") }}
{{ template "sshprivkey" (joinPath .chezmoi.homeDir ".ssh/gitlab") }}
{{ template "sshprivkey" (joinPath .chezmoi.homeDir ".ssh/id_rsa") }}
{{ template "sshprivkey" (joinPath .chezmoi.homeDir ".ssh/id_ed25519") }}
{{ else }}
echo "Skip restoring ssh keys - machine is not trusted"
{{ end }}
