#!/bin/bash

# secretsDb hash: {{ include .secretsdb | sha256sum }}

{{ if not .trust }}
exit 0
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
echo -n '{{ keepassxcAttachment "GpgPersonal"  "private.gpg" }}' > /tmp/private.gpg
echo -n '{{ keepassxcAttachment "GpgPersonal"  "public.gpg" }}' > /tmp/public.gpg
echo -n '{{ keepassxcAttachment "GpgPersonal"  "trust.gpg" }}' > /tmp/trust.gpg
gpg --import /tmp/private.gpg
gpg --import /tmp/public.gpg
gpg --import-ownertrust /tmp/trust.gpg
{{ end -}}
