#!/bin/bash

# secretsDb hash: {{ include (joinPath .chezmoi.homeDir "Sync/secrets.kdbx") | sha256sum }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/ansible")) }}
cat << HERE > ~/.ssh/ansible
{{ keepassxcAttachment "ssh private keys" "ansible" -}}
HERE
chmod go-rw ~/.ssh/ansible
{{ end }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/rockwell")) }}
cat << HERE > ~/.ssh/rockwell
{{ keepassxcAttachment "ssh private keys" "rockwell" -}}
HERE
chmod go-rw ~/.ssh/rockwell
{{ end }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/gitlab")) }}
cat << HERE > ~/.ssh/gitlab
{{ keepassxcAttachment "ssh private keys" "gitlab" -}}
HERE
chmod go-rw ~/.ssh/gitlab
{{ end }}

# raghu@home-desktop rsa and ed25519 private keys
{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/id_rsa")) }}
cat << HERE > ~/.ssh/id_rsa
{{ keepassxcAttachment "ssh private keys" "id_rsa" -}}
HERE
chmod go-rw ~/.ssh/id_rsa
{{ end }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/id_ed25519")) }}
cat << HERE > ~/.ssh/id_ed25519
{{ keepassxcAttachment "ssh private keys" "id_ed25519" -}}
HERE
chmod go-rw ~/.ssh/id_ed25519
{{ end }}

