#!/bin/bash

# secretsDb hash: {{ include (joinPath .chezmoi.homeDir "Sync/secrets.kdbx") | sha256sum }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/ansible")) }}
cat << HERE > ~/.ssh/ansible
{{ keepassxcAttachment "ssh private keys" "ansible" -}}
HERE
chmod go-rw ~/.ssh/ansible
{{ end }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/rockwell")) }}
cat << HERE > ~/.ssh/rockwell
{{ keepassxcAttachment "ssh private keys" "rockwell" -}}
HERE
chmod go-rw ~/.ssh/rockwell
{{ end }}

{{ if not (stat (joinPath .chezmoi.homeDir ".ssh/gitlab")) }}
cat << HERE > ~/.ssh/gitlab
{{ keepassxcAttachment "ssh private keys" "gitlab" -}}
HERE
chmod go-rw ~/.ssh/gitlab
{{ end }}

