{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
pamac install ripgrep syncthing atuin borg btop ddccontrol direnv jq kdiff3-qt keepassxc miller ncdu
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep
{{ end -}}
