{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
pamac install fzf ripgrep syncthing borg btop ddccontrol mise jq kdiff3-qt keepassxc miller ncdu
{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install ripgrep fzf syncthing btop mise jq keepassxc
{{ end -}}
