[Unit]
Description=calibre-server

[Service]
Environment="port=8004"
WorkingDirectory=/home/raghu/calibre
Type=simple
ExecStart=calibre-server --port ${port} --userdb users.sqlite --auth-mode basic --enable-auth library
Restart=on-failure

[Install]
WantedBy=multi-user.target
